week_5_batch_processing/jdk-11.0.2/*
week_5_batch_processing/fhvhv/2021/02/*
week_5_batch_processing/fhvhv_tripdata_2021-02.csv
week_7_project/yelp_dataset/yelp_academic_dataset_business.json
week_7_project/credentials/yelp-zoomcamp-de-83864d05c153.json
week_7_project/yelp_dataset/yelp_academic_dataset_covid_features.json